.listGroup {
    display: flex;
    justify-content: space-between;
    margin: 2rem, 0rem;

    .list-group-item {
        background: none;
        border: 0;
    }
    
    .navLink {
        width: 5rem;
        height: 5rem;
        display: flex;
        cursor: pointer;
        border-radius: 50%;
        margin-right: 2rem;
        align-items: center;
        transform: scale(0.8);
        text-decoration: none;
        flex-direction: column;
        justify-content: center;
        background: linear-gradient(35deg, $color_02, $color_03);

        h4 {
            color: $bgColor;
            font-size: 0.8rem;
            margin-top: 0.5rem;
        }
        svg {
            color: $bgColor;
            font-size: 1.5rem;
        }
        &.active {
            background: linear-gradient(to right, #f27121, #e94057);
        }
    
    }
}