.search {
  
        width: 100%;
        position: relative;

        .searchIcon {
            display: block;
            width: 40px;
            background: $color_01;
            border: 1px solid $color_01;
        }
    
        input[type="text"] {
            position: relative;
            background: $bgColor;
            border-color: $color_01;
    }
    svg {
        position: absolute;
        top: 50%;
        left: 0;
        color: $bgColor;
        transform: translate(100%, -50%);
    }

}